# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Output (candidate's results)
output/entities.json

# PyTest
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
